Act_Main/bin
Act_Main/apk
Act_Main/libs
Act_Main/gen
Act_Main/project.properties
Act_Main/.classpath
*.db
*.classpath
.classpath
*.classpath
.gradle
.idea
app/build/
gradle
build/
local.properties
*.iml
